body {
  font-family: sans-serif;
  font-size: 21px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 32em;
  padding: 0.667em;
}

.top {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.logo h1 {
  font-size: 1.618em;
  margin: 0.5em 0 0;
}

.logo p {
  margin: 0;
  font-family: monospace;
  letter-spacing: 0.12em;
  text-align: right;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0.125em;
  padding: 0.5em;
}
.nav li:last-child {
  margin-right: 0;
  padding-right: 0;
}

@media screen and (max-width: 32em) {
  .logo p {
    text-align: left;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav li {
    margin: 0;
    padding: 0.25em;
  }
  .nav li:last-child {
    padding-right: 0;
  }
}

.lede {
  background: grey url('media/carousel/01.JPG') 50% 50%;
  background-size: cover;
  height: 60vw;
  max-height: 18em;
  position: relative;
}
.lede .bg {
  background: grey url('media/carousel/01.JPG') 50% 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
.lede .bg.next {
  opacity: 0;
  z-index: -1;
}
.lede .bg.next.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.email-signup {
  margin: 2em 0 0;
}

.email-signup h3 {
  font-size: inherit;
  font-weight: normal;
  margin: 0 0 0.5em;
}

.email-signup-fields {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -0.5em;
}
.mc-field-group,
.mc-button-wrap {
  margin: 0.25em;
}
.mc-field-group {
  flex: 1 0 33%;
}
.mc-field-group > input {
  width: 100%;
}

input, button {
  box-sizing: border-box;
  display: block;
  font-size: 0.8em;
  line-height: 1.618em;
  padding: 0.25em 0.25em 0.125em;
}
input {
  border: 2px solid #000;
  border-radius: 0;
  border-width: 0 0 2px;
  text-align: center;
}
input:placeholder-shown {
  background: #eee;
  border-color: #999;
}
input:hover,
input:focus {
  background: #fff;
  border-color: #000;
}
button {
  background: #444;
  border-color: #000;
  border-width: 0 0 2px;
  border-radius: 0.25em;
  color: #fff;
  cursor: pointer;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* h5bp ish helpers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}
