html {
  font-family: sans-serif;
  font-size: 21px;
}
@media screen and (max-width: 32em) {
  html {
    font-size: 19px;
  }
}

a {
  color: #36c;
}
a:visited {
  color: #a38;
}
a[href="."] {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.browserupgrade {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 0.85em;
  margin: 0;
  padding: 0.5em 0.5em 0.333em;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 32em;
  padding: 0.667em 0.167em 0;
}

.top {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
}

.logo h1 {
  font-size: 1.618em;
  margin: 0.5em 0 0;
}
.logo h1 a {
  color: #000;
}

.logo p {
  margin: 0;
  font-family: monospace;
  letter-spacing: 0.12em;
  text-align: right;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0.125em;
  padding: 0.5em;
}
.nav li:last-child {
  margin-right: 0;
  padding-right: 0;
}

@media screen and (max-width: 32em) {
  .top {
    margin-bottom: 1em;
  }
  .logo p {
    text-align: left;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav li {
    margin: 0;
    padding: 0.125em 0.25em;
  }
  .nav li:last-child {
    padding-right: 0;
  }
}

.lede {
  padding: 0 0.5em;
}
.lede p,
.content p {
  line-height: 1.4em;
}
p.notice {
  border-left: 2px solid hsl(220, 60%, 50%);
  background: hsla(317, 54%, 43%, 0.1);
  font-size: 0.85em;
  padding: 0.5em 0.5em 0.333em;
  margin: 0 -0.5em;
}

.preview {
  background: grey url('media/carousel/01.JPG') 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  height: 65vw;
  max-height: 20em;
  position: relative;
  text-align: center;
}
.preview .bg {
  background: grey url('media/carousel/01.JPG') 50% 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
.preview .bg.next {
  opacity: 0;
  z-index: -1;
}
.preview .bg.next.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.preview h3 {
  /*background: hsla(317, 54%, 43%, 0.667);*/
  /*background: hsla(220, 60%, 50%, 0.667);*/
  background: hsla(0, 0%, 0%,0.5);
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0.333em 0.5em 0.25em;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 32em) {
  .lede p,
  .content p {
    line-height: 1.3em;
  }
  .preview h3 {
    font-size: 0.8em;
  }
}

.email-signup {
  /*background: hsla(317, 54%, 43%, 1);*/
  padding: 0 0.5em;
}

.email-signup-fields {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -0.125em;
}
.mc-field-group,
.mc-button-wrap {
  margin: 0.25em 0.125em 0;
}
.mc-field-group {
  flex: 1 0 33%;
}
.mc-field-group > input {
  width: 100%;
}

input, button, a.button {
  box-sizing: border-box;
  display: block;
  font-size: 0.8em;
  line-height: 1.618em;
  padding: 0.25em 0.25em 0.125em;
}
input {
  background: transparent;
  border: 2px solid #36c;
  border-radius: 0;
  border-width: 0 0 2px;
  text-align: center;
}
input:placeholder-shown {
  border-color: #000;
}
input:hover,
input:focus {
  border-color: #a38;
}
button,
a.button {
  background: #36c;
  border-color: #000;
  border-style: solid;
  border-radius: 0.25em;
  border-width: 0 0 2px;
  color: #fff;
  cursor: pointer;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-shadow: 0 0 0.1em hsla(0, 0%, 0%, 0.5);
}
a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
a.button.big {
  font-size: 1rem
}

/* h5bp ish helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.content {
  padding: 0 0.5em;
}
.content img {
  display: block;
  margin: 0 -0.5em;
  max-width: calc(100% + 1em);
}
.content img + h2 {
  background: hsla(0, 0%, 0%, 0.333);
  color: #fff;
  display: block;
  line-height: 1em;
  margin: -1.1em 0 0;
  padding: 0.1em 0.25em 0;
  position: relative;
  text-shadow: 0 0 0.2em #000;
  z-index: 1;
}
.content img.inline {
  max-width: 40%;
}
.content img.inline {
  float: right;
  margin: 0 0 0.5em 0.5em;
}
.content h3 {
  clear: both;
}
.content h3 + img.inline {
  margin-top: -2em;
}
@media screen and (max-width: 32em) {
  .content img + h2 {
    font-size: 1.1em;
  }
  .content img.inline {
    max-width: 75%;
  }
  .content img.inline,
  .content h3 + img.inline {
    float: none;
    margin: 0;
  }
}

.writeup {
  font-size: 0.85em;
}

blockquote {
  font-family: serif;
  font-style: italic;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 0 0.5em;
}
.writeup blockquote {
  background: hsl(220, 60%, 93%);
  border-left: 2px solid hsl(317, 54%, 43%);
  padding: 0.5em 0.5em;
}
blockquote p {
  line-height: 1.15em;
  margin-bottom: 0.333em;
}
.writeup blockquote p {
  margin: 0;
}
blockquote cite {
  color: hsl(317, 54%, 43%);
  display: block;
  font-size: 0.8em;
  text-align: right;
  padding: 0.2em 0 0;
}
blockquote.over-image {
  background-color: #666;
  background-size: cover;
  background-position: 50% 30%;
  box-sizing: border-box;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 9em 0 0;
  text-shadow: 0 0 4px #fff;
}
blockquote.over-image p,
blockquote.over-image cite {
  background: hsla(0, 0%, 100%, 0.9);
  margin: 0;
}

blockquote.over-image p {
  padding: 0.5em 2.5em 0;
}
blockquote.over-image cite {
  display: block;
  padding: 0.5em 2.5em 0.333em;
  text-align: right;
}

blockquote.paperquote {
  background-image: url('/apply/people-binarying.jpg');
}
blockquote.foodquote {
  background-image: url('/apply/food.jpg');
}

.doubles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em;
}
.doubles .person {
  flex: 1 1 11em;
  padding: 0 0.5em;
}
.doubles h4 {
  margin-top: 0;
}
.doubles img {
  margin: 0;
  max-width: 100%;
}

@media screen and (max-width: 32em) {
  blockquote {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  blockquote.over-image {
    padding-top: 7em;
  }
  blockquote.over-image p,
  blockquote.over-image cite {
    padding-left: 1em;
    padding-right: 1em;
  }
  blockquote.over-image p {
    font-size: 0.85em;
  }
}

footer {
  clear: both;
  color: #777;
  margin-top: 5em;
  padding: 0.25em 0;
  text-align: center;
}
footer p {
  font-size: 0.8em;
  margin: 0;
}

h3,
h4 {
  margin: 2.5em 0 1em;
}

ul {
  padding-left: 2em;
}
li {
  line-height: 1.4em;
  margin: 0.5em 0;
}
@media screen and (max-width: 32em) {
  ul {
    padding-left: 1em;
  }
  li {
    line-height: 1.3em;
  }
}

hr {
  margin-top: 3em;
  border: 2px dashed #555;
  border-width: 2px 0 0;
}

.minor {
  font-size: 0.85em;
  margin-top: 4rem;
}
